

<h2>Streets</h2>
<table>
	<tr>
		<th>Street name</th>
		<th>Qty</th>
		<th>Total cost</th>
	</tr>
	{{#each showStreets}}
	<tr>
		<td>{{name}}</td>
		<td>
			<a href="/meter/:street_id">Edit</a>
		</td>
	</tr>
	{{/each}}
</table>

<h2>All Appliances</h2>

<table>
{{#each appliances}}
<tr>
	<td>
		{{name}}
	</td>
	<td>
		{{rate}}
	</td>
</tr>
{{/each}}
</table>