

<h2>Streets</h2>
<table>
	<tr>
		<th>Street name</th>
		<th>Qty</th>
		<th>Total cost</th>
	</tr>
	{{#each showStreets}}
	<tr>
		<td>{{name}}</td>
		<td>
			<a href="/basket/edit">Edit</a>
		</td>
	</tr>
	{{/each}}
</table>