

<h2>Streets</h2>
<table>
	<tr>
		<th>Street name</th>
		<th>Available meters</th>
	</tr>
	{{#each showStreets}}
	<tr>
		<td>{{name}}</td>
		<td>
			<a href="/meter/:street_id">Show meters</a>
		</td>
	</tr>
	{{/each}}
</table>

<div>
    <h2><a href="/appliances">View Appliances and their rates here</a></h2>
</div>